# SQL Server
MSSQL_SA_PASSWORD=SuaSenhaDoSQLServerAqui --- IGNORE ---

# JWT
JWT_KEY=SuaChaveJwtLongaESeguraAqui --- IGNORE --

# RabbitMQ
RABBITMQ_USER=seu_usuario --- IGNORE ---
RABBITMQ_PASSWORD=sua_senha --- IGNORE ---

# AuthService - usuário administrador inicial
SEED_ADMIN_PASSWORD=SuaSenhaDoAdminAqui --- IGNORE ---